@model hva_som_skjer.Models.CommentViewModel
<div class="row">
	<div class="col-md-12">
		<div class="card">
			<h5 class="card-header">
				@Html.DisplayFor(model => model.NewsModel.Title)
				<small class="text-muted pull-right">Skrevet @Html.DisplayFor(model => model.NewsModel.Posted)</small>
			</h5>        
			<div class="card-body">
				<p class="card-text">
					@Html.DisplayFor(model => model.NewsModel.Content)
				</p>
				<br/>
				<p class="card-text">
					<small class="text-muted">Av: @Html.DisplayFor(model => model.NewsModel.poster)</small>
				</p>
			</div>       
		</div
		<div class="comments">
			@if(User.Identity.IsAuthenticated && Model.CurrentUser !=null )
			{
				<div class="comment-wrap">
				<div class="photo">
					<img class="avatar" src="@Model.CurrentUser.ProfilePicture" alt="Card image cap">
				</div>
				<div class="comment-block">
					<form method="post" enctype="ultipart/form-data" asp-controller="Club" asp-action="AddComment">
						<input class="form-control pull-left" style="width:60%;" name="Content" id="Content" cols="30" rows="3" placeholder="Add comment...">
						<input id="NewsId" name="NewsId" type="hidden" value="@Html.DisplayFor(model => model.NewsModel.Id)">
						<button id="singlebutton" name="singlebutton" class="btn btn-inverce" >Submit</button>
					</form>
				</div>
			</div>
			}
			
		</div>
	</div>			
	@foreach(var s in Model.CommentModel)
	{
		if(s.NewsId == Model.NewsModel.Id)
		{			
			<div class="row">
				<div class="avatar">
					<img class="img-fluid img-thumbnail user-photo" src="@Html.DisplayFor(model => s.Author.ProfilePicture)">
				</div>
				<div class="col-md-11">
					<div class="card panel-default">
						<div class="card-header">
							<strong>@Html.DisplayFor(model => s.Author.UserName)</strong> <span class="text-muted">@Html.DisplayFor(model => s.Posted)</span>
						</div>
						<div class="card-body">
							<p class="card-text">@Html.DisplayFor(model => s.Content)</p>                
						</div>
					</div>
				</div>	
			</div>
			<br>
		}
	}
<br>

