@model hva_som_skjer.Models.Event

<div class="row">
    <div class="col-md-3"></div>
    <div class="card w-50" style="width: 18rem;">
        <img class="card-img-top" src="@Model.ImagePath" alt="Card image cap">
        <div class="card-body">
            <a asp-action="Details" asp-route-id="@Model.Id">
                <h5 class="card-title"> @Model.Title</h5>
            </a>
            <h6 class="card-subtitle mb-2 text-muted">Tid: @Model.StartDate.ToLongDateString(), kl. @Model.StartTime.ToString("HH:mm")</h6>
            <h6 class="card-subtitle mb-2 text-muted">Sted: @Model.Location</h6>
            <p class="card-text">@Model.Content</p>
        </div>
    </div>
</div>
<br>