@model hva_som_skjer.Models.NewsViewModel 
@{ 
	ViewData["Title"] = @Html.DisplayFor(model => model.Club.Name); 
}

<hr />
<div class="row">
    <div class="col-md-3">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="@Model.Club.Image" alt="Card image cap">
          <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <a asp-action="">Kontakt</a>
                </li>
                <li class="list-group-item">
                    <a asp-controller="Event" asp-action="Index" asp-route-key="@Model.Club.Id">Arrangementer</a>
                </li>
          </ul>
        </div>
       

        <br>

        <div class="card" style="width: 18rem;">
            <div class="card-header">
                Kontakt
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">@Html.DisplayNameFor(model => model.Club.Contact): @Html.DisplayFor(model => model.Club.Contact)</li>
                <li class="list-group-item">@Html.DisplayNameFor(model => model.Club.Adress): @Html.DisplayFor(model => model.Club.Adress)</li>
                <li class="list-group-item">@Html.DisplayNameFor(model => model.Club.Email): @Html.DisplayFor(model => model.Club.Email)</li>
                <li class="list-group-item">@Html.DisplayNameFor(model => model.Club.Phone): @Html.DisplayFor(model => model.Club.Phone)</li>
                <li class="list-group-item">@Html.DisplayNameFor(model => model.Club.Website): @Html.DisplayFor(model => model.Club.Website)</li>
                <li class="list-group-item">@Html.DisplayNameFor(model => model.Club.Founded): @Html.DisplayFor(model => model.Club.Founded)</li>
            </ul>
        </div>


        <br>
        @{
          if(Model.isAdmin)
          {
            <div class="card" style="width: 18rem;">
              <div class="card-header">
                <i class="fa fa-wrench" aria-hidden="true"></i> Administrer
              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">
                  <a asp-action="addNews" asp-route-id="@Model.Club.Id">Publiser Nyhet</a>
                </li>
                <li class="list-group-item">
                  <a asp-controller="Event" asp-action="Create" asp-route-id="@Model.Club.Id">Opprett Arrangement</a>
                </li>
                <li class="list-group-item">
                    <a asp-action="EditClub" asp-route-id="@Model.Club.Id">Rediger klubb</a>
                </li>
                <li class="list-group-item">
                    <a asp-action="Delete" asp-route-id="">Slett</a>
                </li>
              </ul>
            </div>
          
          }
        }
    </div>  
       

    <div class="col-md-6" style="width: 100px;">
        <div class="card">
            <img class="card-img-top" src="@Model.Club.BannerImage" alt="Card image cap">
            <div class="card-body">
                @if(User.Identity.IsAuthenticated)
                {
                  if(Model.isFollowing)
                  {
                    <form class="form-horizontal" method="post" asp-controller="Club" asp-action="Unsubscribe">
                    <input type="hidden" name="clubId" value="@Model.Club.Id">
                    <button id="singlebutton" name="singlebutton" class="btn btn-primary" style="float: right;">Følger</button>
                  </form>
                  }else{
                    <form class="form-horizontal" method="post" asp-controller="Club" asp-action="Subscribe">
                    <input type="hidden" name="clubId" value="@Model.Club.Id">
                    <button id="singlebutton" name="singlebutton" class="btn btn-inverce" style="float: right;">Følg</button>
                    </form>
                  }
                  
                }
                <h5 class="card-title">@Html.DisplayFor(model => model.Club.Name)</h5>
                <h6 class="card-subtitle mb-2 text-muted">@Html.DisplayFor(model => model.Club.Category)</h6>
                <hr />
                <p class="card-text">@Html.DisplayFor(model => model.Club.Description)</p>
                <p class="card-text">
                    <small class="text-muted"></small>
                </p>
            </div>
        </div>
        <br> 
         @foreach (var s in Model.NewsModel) 
        { 
          var comments = Model.CommentModel; 
          var users = Model.Users; 
          var currenUser = Model.CurrentUser;
          var vm = new CommentViewModel(s,comments,users,currenUser); 
          if (s.clubId == Model.Club.Id) 
          { 
            Html.RenderPartial("_ClubNewsPartial", vm); 
          } 
        }  
  </div>
</div>

<style>
  .main {
    margin-left: 200px;
    /* Same as the width of the sidenav */
    padding: 0px 10px;
  }

  .comments {
    margin: 2.5rem auto 0;
    max-width: 60.75rem;
    padding: 0 1.25rem;
  }

  .comment-wrap {
    margin-bottom: 1.25rem;
    display: table;
    width: 100%;
    min-height: 5.3125rem;
  }

  .photo {
    padding-top: 0.625rem;
    display: table-cell;
    width: 3.5rem;
  }

  .photo .avatar {
    height: 2.25rem;
    width: 2.25rem;
    border-radius: 50%;
    background-size: contain;
  }

  .avatar {
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    background-size: contain;
  }

  .comment-block {
    padding: 1rem;
    background-color: #fff;
    display: table-cell;
    vertical-align: top;
    border-radius: 0.1875rem;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.08);
  }

  .comment-block textarea {
    width: 100%;
    resize: none;
  }

  .comment-text {
    margin-bottom: 1.00rem;
  }

  .bottom-comment {
    color: #acb4c2;
    font-size: 0.875rem;
  }

  .comment-date {
    float: left;
  }

  .comment-actions {
    float: right;
  }

  .comment-actions li {
    display: inline;
    margin: -1px;
    cursor: pointer;
  }

  .comment-actions li.complain {
    padding-right: 0.75rem;
    border-right: 1px solid #e1e5eb;
  }

  .comment-actions li.reply {
    padding-left: 0.75rem;
    padding-right: 0.125rem;
  }

  .comment-actions li:hover {
    color: #0095ff;
  }
</style>