@model hva_som_skjer.Models.ClubViewModel

<hr />


<div class="row">
    <form class="form-inline container" method="get">

        <div class="col">
            <div class="form-group" text-align:center>
                <input asp-for="Search" class="form-control" placeholder="Search" />
            </div>
        </div>


        <b>Antall</b>
        <div class="col">
            <div class="form-group">
                <select asp-for="Limit" class="form-control">
                    <option value="10">10</option>
                    <option value="25">25</option>
                    <option value="50">50</option>
                    <option value="75">75</option>
                    <option value="100">100</option>
                </select>
            </div>
        </div>

        <b>Rekkefølge</b>
        <div class="col">
            <div class="form-group">
                <select asp-for="OrderBy" class="form-control">
                    <option value="A">Synkende</option>
                    <option value="Z">Stigende</option>
                </select>
            </div>
        </div>

        <b>Sorter etter</b>
        <div class="col">
            <div class="form-group">
                <select asp-for="Type" class="form-control">
                    <option value="Name">Navn</option>
                    <option value="Category">Kategori</option>
                    <option value="Founded">Stiftet</option>
                </select>
            </div>
        </div>

        <div class="col">
            <div class="form-group">
                <div class="input-group">
                    <button class="btn btn-info" type="submit">
                      <i class="fa fa-search"></i>
                    </button>
                </div>
            </div>
        </div>

    </form>
</div>


<hr />

  @foreach (var p in Model.Results)
  {
    <div class="card w-50 container">
      <img asp-action="Club" asp-route-id="@p.Id" class="card-img-left" src="@p.Image">
      <div class="card-body">
        <a asp-controller="Club" asp-action="Club" asp-route-id="@p.Id">
          <h5 class="card-title">@p.Name</h5>
        </a>
        <i class="card-text">@p.Category - </i>
        <i class="card-text">@p.Founded</i>
        <p class="card-text">@p.Description.Substring(0, @p.Description.Length >= 150 ? 150 : @p.Description.Length)</p>
      </div>  
    </div>
    <br>
  }